.btn-primary {
  color: var(--color-black);
  background-color: var(--color-primary);
  margin-top: 4rem;
}

.btn:link,
.btn:visited,
.btn {
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
  z-index: 3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1rem 2rem rgba(255, 255, 255, 0.2);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0, 0.5rem 1rem rgba(255, 255, 255, 0.2);
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #eee;
}

.btn-green {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-green::after {
  background-color: var(--color-primary);
}

.btn:hover::after {
  transform: scale(2);
  opacity: 0;
}
